
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply bg-white text-slate-900 antialiased;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .rotate-y-12 {
    transform: rotateY(12deg);
  }
  
  .animate-bounce-slow {
    animation: bounce 3s infinite;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .font-heading {
    font-family: 'Poppins', sans-serif;
  }
}

/* Custom Scrollbar for Premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full border-4 border-slate-50 hover:bg-slate-400;
}
